.description {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.btn-group {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    margin: 2px; 
    min-width: 40px; 
    flex: 0 0 auto; 
}


.position-relative {
    position: relative;
  }
  

  .dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; 
  }
  

  .custom-select-icon {
    padding-right: 2.5rem;
  }
  
@media (max-width: 576px) {
    .ticket-card button {
      width: 100%;
      margin-bottom: 5px;
    }
  }
  