<form>
    <div class="mb-3">
        <h4>New Service Request</h4>
    </div>
    <div class="mb-3">
        <label for="selectService" class="form-label" aria-label="Select Service">Service</label>
        <div class="position-relative">
            <select class="form-control border-2 custom-select-icon" id="selectService" name="selectService" [(ngModel)]="selectService" required aria-label="Select a service" aria-required="true">
                <option value=0 disabled selected>Select a category</option>
                <option *ngFor="let category of categories" [ngValue]="category?.categoryCode">{{ category.categoryName }}</option>
            </select>
            <i class="fas fa-caret-down dropdown-icon"></i>
        </div>
        <div id="emailHelp" class="form-text"><span class="text-danger">*</span>Select a category from the drop down to continue</div>
    </div>
    <div class="mb-3">
        <label for="serviceDescription" class="form-label border-2" aria-label="Service Description">Description</label>
        <textarea class="form-control border-2" name="serviceDescription" [(ngModel)]="makeReqObj.requestDescription"
                  id="serviceDescription" required aria-required="true" placeholder="Service Description"
                  aria-label="Describe your service request"></textarea>
        <div id="descriptionlabeldown" class="form-text"><span class="text-danger">*</span>Description should be below 200 characters</div>
        <div *ngIf="errorMap.has('descriptionErrorMessage')" class="text-danger">
          {{errorMap.get('descriptionErrorMessage')}}
        </div>
        <div *ngIf="errorMap.has('serviceErrorMessage')" class="text-danger">
          {{errorMap.get('serviceErrorMessage')}}
        </div>
    </div>
    <div class="col-md-12 text-end">
        <button class="btn btn-secondary me-2 col-2" type="button" (click)="clearForm()" aria-label="Clear Form" title="Clear the form">
            <i class="bi bi-trash"></i>clear 
        </button>
        <button class="btn btn-primary col-2" type="submit" (click)="addInProgress()" aria-label="Add Service Request" title="Create a new service request">
            <i class="bi bi-check2"></i>submit 
        </button>
    </div>
  </form>
